{% extends 'base_tutorial.html' %}

{% block 'title' %}
  {{object.title}} | Monsblu
{% endblock %}

{% block 'meta_desc' %}
  {{object.description}}
{% endblock %}


{% block 'body' %}
{% include 'tutorial/header.html' %}
<div class="container mt-3">
  <div class="row">

    <div class="col-3 d-none d-md-none d-lg-block">
      <nav class="sticky-top toc-nav" id="toc"></nav>
    </div>
    <div class="col col-lg-8">
      <div id="contents" class="tutorial-view">
        <h1>{{object.title}} {{object.toc}}</h1>
        <div class="meta">
          <p>Published on {{object.published}}</p>
        </div>

        {{object.content | safe}}
          
      </div>
          <div class="comment-wrapper">
                      <!-- comment -->
          <div id="disqus_thread" ></div>
          <script>
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://monsblu.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
          </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

          </div>
    </div>
  </div>
</div>
{% include 'tutorial/footer.html' %}
<script>


  var c = function() {
      return({
          log: function(msg) {
            consoleDiv = document.getElementById('console');
            para = document.createElement('p');
            text = document.createTextNode(msg);
            para.appendChild(text);
            consoleDiv.appendChild(para);
          }
      });
  }();
  
  window.onload = function () {
      var toc = "";
      var level = 0;
      var maxLevel = 3;
  
      document.getElementById("contents").innerHTML =
          document.getElementById("contents").innerHTML.replace(
              /<h([\d])>([^<]+)<\/h([\d])>/gi,
              function (str, openLevel, titleText, closeLevel) {
                  if (openLevel != closeLevel) {
           c.log(openLevel)
                      return str + ' - ' + openLevel;
                  }
  
                  if (openLevel > level) {
                      toc += (new Array(openLevel - level + 1)).join("<ul class='toc-wrapper'>");
                  } else if (openLevel < level) {
                      toc += (new Array(level - openLevel + 1)).join("</ul>");
                  }
  
                  level = parseInt(openLevel);
  
                  var anchor = titleText.replace(/ /g, "_");
                  toc += "<li><a href=\"#" + anchor + "\">" + titleText
                      + "</a></li>";
                  // toc += "<li class='nav-item'><a class='nav-link active' aria-current='page' href=\"#" + anchor + "\">" + titleText + "</a> </li>";
  
                  return "<h" + openLevel + "><a name=\"" + anchor + "\">"
                      + titleText + "</a></h" + closeLevel + ">";
              }
          );
  
      if (level) {
          toc += (new Array(level + 1)).join("</ol>");
      }
  
      document.getElementById("toc").innerHTML += toc;
  };
      </script>

      <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Tutorial",
          "headline" : "{{object.title}}",
          "author" : {
            "@type" : "Person",
            "name" : "Monsblu Team"
          },
          "datePublished" : "{{object.published}}",
        }
        </script>
{% endblock %}